*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
body{
    box-sizing: border-box;
    margin: 0;
    color: map-get($color, blanco);
    background-color: map-get($color, negro);
}